#checkbutton	{
	width: 50%;
}
input	{
	height: 50px;
	width: 75%;
}
#answer_text	{
	font-size: 45px;
}

a:link		{ color: #0000ff }
a:visited	{ color: #0000ff }
a:hover		{ color: #ff0000 }